@tailwind base;
@tailwind components;
@tailwind utilities;

.Banner {
  background-image: url(./assets/Images/BannerImg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 195px;
}



body {
  background-color: #dcedf3e3;
  font-family: sans-serif;
}

